<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bourne</key>
	<dict>
		<key>event1</key>
		<string>The Bourne Identity</string>
		<key>event2</key>
		<string>The Bourne Supremacy</string>
		<key>event3</key>
		<string>The Bourne Ultimatum</string>
		<key>event4</key>
		<string>The Bourne Legacy</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Bourne_(film_series)</string>
	</dict>
	<key>Lilo &amp; Stitch</key>
	<dict>
		<key>event1</key>
		<string>Lilo &amp; Stitch</string>
		<key>event2</key>
		<string>Stitch!  The Movie</string>
		<key>event3</key>
		<string>Stitch Has a Glitch</string>
		<key>event4</key>
		<string>Leroy and Stitch</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Lilo_%26_Stitch_(franchise)</string>
	</dict>
	<key>Lucky Luke</key>
	<dict>
		<key>event1</key>
		<string>Lucky Luke Daisy Town</string>
		<key>event2</key>
		<string>Lucky Luke The Ballad of the Daltons</string>
		<key>event3</key>
		<string>Lucky Luke The Daltons on the Loose</string>
		<key>event4</key>
		<string>Go West: A Lucky Luke Adventure</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Lucky_Luke</string>
	</dict>
	<key>Madagascar</key>
	<dict>
		<key>event1</key>
		<string>Madagascar</string>
		<key>event2</key>
		<string>Madagascar Escape 2 Africa</string>
		<key>event3</key>
		<string>Madagascar Europe&apos;s Most Wanted</string>
		<key>event4</key>
		<string>Penguins of Madagascar</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Madagascar_(franchise)</string>
	</dict>
	<key>Alvin and the Chipmunks</key>
	<dict>
		<key>event1</key>
		<string>Alvin and the Chipmunks</string>
		<key>event2</key>
		<string>Alvin and the Chipmunks \n The Squeakquel</string>
		<key>event3</key>
		<string>Alvin and the Chipmunks\nChipwrecked</string>
		<key>event4</key>
		<string>Alvin and the Chipmunks\nThe Road Chip</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Alvin_and_the_Chipmunks_(film_series)</string>
	</dict>
	<key>Mad Max</key>
	<dict>
		<key>event1</key>
		<string>Mad Max</string>
		<key>event2</key>
		<string>Mad Max The Road Warrior</string>
		<key>event3</key>
		<string>Mad Max Beyond Thunderdome</string>
		<key>event4</key>
		<string>Mad Max Fury Road</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Mad_Max_(franchise)</string>
	</dict>
	<key>Apocalypse</key>
	<dict>
		<key>event1</key>
		<string>Apocalypse</string>
		<key>event2</key>
		<string>Apocalypse Revelation</string>
		<key>event3</key>
		<string>Apocalypse Tribulation</string>
		<key>event4</key>
		<string>Apocalypse Judgment</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Apocalypse_(film_series)</string>
	</dict>
	<key>Astérix &amp; Obélix</key>
	<dict>
		<key>event1</key>
		<string>Astérix &amp; Obélix Take On Caesar</string>
		<key>event2</key>
		<string>Astérix &amp; Obélix Mission Cleopatra</string>
		<key>event3</key>
		<string>Astérix at the Olympic Games</string>
		<key>event4</key>
		<string>Astérix &amp; Obélix God Save Britannia</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Asterix_films_(live_action)</string>
	</dict>
	<key>Batman</key>
	<dict>
		<key>event1</key>
		<string>Batman</string>
		<key>event2</key>
		<string>Batman Returns</string>
		<key>event3</key>
		<string>Batman Forever</string>
		<key>event4</key>
		<string>Batman &amp; Robin</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Batman_in_film</string>
	</dict>
	<key>The Mummy</key>
	<dict>
		<key>event1</key>
		<string>The Mummy</string>
		<key>event2</key>
		<string>The Curse of the Mummy&apos;s Tomb</string>
		<key>event3</key>
		<string>The Mummy&apos;s Shroud</string>
		<key>event4</key>
		<string>Blood from the Mummy&apos;s Tomb</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/The_Mummy_(franchise)</string>
	</dict>
	<key>P.R.O.B.E</key>
	<dict>
		<key>event1</key>
		<string>P.R.O.B.E:  The Zero Imperative</string>
		<key>event2</key>
		<string>P.R.O.B.E: The Devil of Winterborne</string>
		<key>event3</key>
		<string>P.R.O.B.E: Unnatural Selection</string>
		<key>event4</key>
		<string>P.R.O.B.E: Ghost of Winterborne</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/P.R.O.B.E.</string>
	</dict>
	<key>Rambo</key>
	<dict>
		<key>event1</key>
		<string>Rambo  First Blood</string>
		<key>event2</key>
		<string>Rambo First Blood Part II</string>
		<key>event3</key>
		<string>Rambo III</string>
		<key>event4</key>
		<string>Rambo</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Rambo_(film_series)</string>
	</dict>
	<key>The Lion King</key>
	<dict>
		<key>event1</key>
		<string>The Lion King</string>
		<key>event2</key>
		<string>The Kion King II</string>
		<key>event3</key>
		<string>The Kion King 1 1/2</string>
		<key>event4</key>
		<string>The Lion Guard Return of the Roar</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/The_Lion_King_(franchise)</string>
	</dict>
	<key>Divergent</key>
	<dict>
		<key>event1</key>
		<string>The Divergent Series:  Divergent</string>
		<key>event2</key>
		<string>The Divergent Series: Insurgent</string>
		<key>event3</key>
		<string>The Divergent Series: Allegiant</string>
		<key>event4</key>
		<string>The Divergent Series: Ascendant</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/The_Divergent_Series</string>
	</dict>
	<key>Scooby Doo</key>
	<dict>
		<key>event1</key>
		<string>Scooby-Doo</string>
		<key>event2</key>
		<string>Scobby-Doo  Monsters Unleashed</string>
		<key>event3</key>
		<string>Scobby-Doo! The Mystery Begins</string>
		<key>event4</key>
		<string>Scobby-Doo! Curse of the Lake Monster</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Scooby_Doo_(film_series)</string>
	</dict>
	<key>Dragon Ball</key>
	<dict>
		<key>event1</key>
		<string>Dragon Ball  Curse of the Blood Tubies</string>
		<key>event2</key>
		<string>Dragon Ball Sleeping Princess in Devil&apos;s Castle</string>
		<key>event3</key>
		<string>Dragon Ball Mystical Adventure</string>
		<key>event4</key>
		<string>Dragon Ball ThePath to Power</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Dragon_Ball_(anime)</string>
	</dict>
	<key>Evil Dead</key>
	<dict>
		<key>event1</key>
		<string>The Evil Dead</string>
		<key>event2</key>
		<string>Evil Dead II</string>
		<key>event3</key>
		<string>Evil Dead Army of Darkness</string>
		<key>event4</key>
		<string>Evil Dead</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Evil_Dead</string>
	</dict>
	<key>Spy Kids</key>
	<dict>
		<key>event1</key>
		<string>Spy Kids</string>
		<key>event2</key>
		<string>Spy Kids Island of Lost</string>
		<key>event3</key>
		<string>Spy Kids Game Over</string>
		<key>event4</key>
		<string>Spy Kids All the Time in the World</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Spy_Kids_(franchise)</string>
	</dict>
	<key>Starship Troopers</key>
	<dict>
		<key>event1</key>
		<string>Starship Troopers</string>
		<key>event2</key>
		<string>Starship Troopers Hero of the Federation</string>
		<key>event3</key>
		<string>Starship Troopers Marauder</string>
		<key>event4</key>
		<string>Starship Troopers Invasion</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Starship_Troopers</string>
	</dict>
	<key>Futurama</key>
	<dict>
		<key>event1</key>
		<string>Futurama Bender&apos;s Big Score</string>
		<key>event2</key>
		<string>Futurama The Beast with a Billion Backs</string>
		<key>event3</key>
		<string>Futurama Bender&apos;s Game</string>
		<key>event4</key>
		<string>Futurama Into the Wild Green Yonder</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Futurama</string>
	</dict>
	<key>Hannibal Lecter</key>
	<dict>
		<key>event1</key>
		<string>The Silence of the Lambs</string>
		<key>event2</key>
		<string>Hannibal</string>
		<key>event3</key>
		<string>Red Dragon</string>
		<key>event4</key>
		<string>Hannibal Rising</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Hannibal_Lecter</string>
	</dict>
	<key>The Hunger Games</key>
	<dict>
		<key>event1</key>
		<string>The Hunger Games</string>
		<key>event2</key>
		<string>The Hunger Games Catching Fire</string>
		<key>event3</key>
		<string>The Hunger Games Mockingjay</string>
		<key>event4</key>
		<string>The Hunger Games Mockingjay Part 2</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/The_Hunger_Games_(film_series)</string>
	</dict>
	<key>Imperium</key>
	<dict>
		<key>event1</key>
		<string>Imperium Augustus</string>
		<key>event2</key>
		<string>Imperium Nero</string>
		<key>event3</key>
		<string>Imperium Saint Peter</string>
		<key>event4</key>
		<string>Imperium Pompei</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Imperium_(film)</string>
	</dict>
	<key>Indiana Jones</key>
	<dict>
		<key>event1</key>
		<string>Indiana Jones Raiders of the Lost Ark</string>
		<key>event2</key>
		<string>Indiana Jones and the Temple of Doom</string>
		<key>event3</key>
		<string>Indiana Jones and the Last Crusade</string>
		<key>event4</key>
		<string>Indiana Jones and the Kingdom of the Crystal Skull</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Indiana_Jones_(franchise)</string>
	</dict>
	<key>Inspector Gadget</key>
	<dict>
		<key>event1</key>
		<string>The Amazing Adventures of Inspector Gadget</string>
		<key>event2</key>
		<string>Inspector Gadget Gadget&apos;s Greatest Gadgets</string>
		<key>event3</key>
		<string>Inspector Gadge Last Caset Claw&apos;s Revenge</string>
		<key>event4</key>
		<string>Inspector Gadget&apos;s Biggest Caper Ever The Case Of The Giant Flying Lizard</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Indiana_Jones_(franchise)</string>
	</dict>
	<key>Transformers</key>
	<dict>
		<key>event1</key>
		<string>Transformers</string>
		<key>event2</key>
		<string>Transformers Revenge of the Fallen</string>
		<key>event3</key>
		<string>Transformers Dark of the Moon</string>
		<key>event4</key>
		<string>Transformers Age of Extinction</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Transformers_(film_series)</string>
	</dict>
	<key>Jurassic Park</key>
	<dict>
		<key>event1</key>
		<string>Jurassic Park</string>
		<key>event2</key>
		<string>Jurassic Park The Lost World</string>
		<key>event3</key>
		<string>Jurassic Park III</string>
		<key>event4</key>
		<string>Jurassic World</string>
		<key>infos</key>
		<string>https://en.wikipedia.org/wiki/Jurassic_Park</string>
	</dict>
</dict>
</plist>
